:root {
    font-family: 'Consolas', 'Cascadia Code', monospace;
    color: #00d000;
    background: black;
}

.tooltip {
position: relative;
display: inline-block;
}


.tooltip .tooltiptext {
visibility: hidden;
width: 240px;
background-color: black;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 5px 0;


/* Position the tooltip */
position: absolute;
z-index: 1;
top: -5px;
left: 105%;
}


.tooltip:hover .tooltiptext {
visibility: visible;
}

a{
    font-size: larger; 
    color: #00d000;
    text-decoration:underline;
}

a:hover{
    font-size: x-large;
    color:#1F4F82;
    text-decoration:underline;
}