/* Default layout is for tablet, but works fine on desktop. */
/* First media query is for phone. */
/* A second one is planned for desktops. */

:root {
    color: var(--primary-text)
}

#page-container {
    margin-block: 0;
    margin-inline: auto;
    max-width: 60dvh;
    background-color: #202020;
    min-height: 100dvh;
}

#chauncey-container {
    display: flex;
    justify-content: center;
}

#chauncey {
    border-radius: 50%;
    width: 50dvh;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chauncey:hover {
    filter: brightness(110%);
}

#chauncey:active {
    filter: brightness(100%)
}

h1 {
    margin: 0;
    padding-inline: 1dvh;
    padding-bottom: 1dvh;
    font-size: 4dvh;
}

h2 {
    margin: 0;
    padding-inline: 1dvh;
    padding-bottom: 1dvh;
    font-size: 3.3dvh;
}

p {
    margin: 0;
    margin-inline: 3dvh;
    margin-bottom: 0.75dvh;
    font-size: 2.2dvh;
}

span {
    font-size: 2.2dvh;
}

button {
    margin: 0;
    margin-left: 3dvh;
    margin-bottom: 0.75dvh;
    font-size: 2.1dvh;
    color: var(--primary-text);
    background-color: var(--primary-bg);
}

/* Phone */
@media (max-width: 600px) {
    #page-container {
        margin-inline: 0;
        max-width: 100dvw;
    }

    #chauncey {
        width: 70dvw;
    }
    
    h1 {
        padding-inline: 1.75dvw;
        padding-bottom: 1.5dvw;
        font-size: 6dvw;
    }

    h2 {
        padding-inline: 1.75dvw;
        padding-bottom: 1.5dvw;
        font-size: 5dvw;
    }

    p {
        margin-inline: 4dvw;
        margin-bottom: 1dvw;
        font-size: 4dvw;
    }

    span {
        font-size: 4dvw;
    }

    button {
        margin-left: 4dvw;
        margin-bottom: 1dvw;
        font-size: 3.8dvw;
    }
}
